<div class="container">

  <%= form_with(model: survival, local: true) do |form| %>
  <% if survival.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(survival.errors.count, "error") %> prohibited this survival from being saved:</h2>

    <ul>
      <% survival.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-field">
          <%= form.label :name %>
          <%= form.text_field :name, id: :survival_name, class: "form-control" %>
        </div>

        <div class="form-field">
          <%= form.label :year_birthday %>
          <%= form.number_field :year_birthday, id: :survival_year_birthday, class: "form-control" %>
        </div>

        <div class="form-field">
          <%= form.label :gender %>
          <%= form.text_field :gender, id: :survival_name, class: "form-control", placeholder: "F to female/ M to male" %>
        </div>

        <div class="form-field">
          <%= form.label :situation %>
          <%= form.text_field :situation, id: :survival_situation, class: "form-control", placeholder: "alive or infected", value: ("0").to_i %>
        </div>

        <div class="form-field">
          <%= form.label :latitude %>
          <%= form.text_field :latitude, id: :survival_latitude, class: "form-control" %>
        </div>

        <div class="form-field">
          <%= form.label :longitude %>
          <%= form.text_field :longitude, id: :survival_longitude, class: "form-control" %>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="jumbotron">
        <p>Please, set the value of your resources that you possess</p>
        <div class="form-field">
          <%= form.label "water" %>
          <%= form.number_field :resource1, id: :survival_resource1, class: "form-control" %>
        </div>

        <div class="form-field">
          <%= form.label "food" %>
          <%= form.number_field :resource2, id: :survival_resource2, class: "form-control" %>
        </div>

        <div class="form-field">
          <%= form.label "medication" %>
          <%= form.number_field :resource3, id: :survival_resource3, class: "form-control" %>
        </div>

        <div class="form-field">
          <%= form.label "ammunation" %>
          <%= form.number_field :resource4, id: :survival_resource4, class: "form-control" %>
        </div>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
      <% end %>
    </div>
  </div>
</div>
