<div class="container">

  <%= form_with(model: @survival, local: true) do |form| %>
  <% if @survival.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(survival.errors.count, "error") %> prohibited this survival from being saved:</h2>

    <ul>
      <% survival.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :survival_name, class: "form-control", disabled: true   %>
  </div>

  <div class="form-field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :survival_latitude, class: "form-control" %>
  </div>

  <div class="form-field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :survival_longitude, class: "form-control" %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
</div>

<%= link_to 'Show', @survival %> |
<%= link_to 'Back', survivals_path %>
