<div class="container">

<p id="notice"><%= notice %></p>

<h1>Survivals</h1>

<%= link_to 'New Survival', new_survival_path, class: "btn btn-info" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Situation</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @survivals.each do |survival| %>
      <% if survival.situation != "alive" %>
      <tr style="color: #fff; background: #f00;">
        <td><%= survival.name %></td>
        <td><%= survival.situation %></td>
        <td><%= link_to 'Show', survival %></td>
        <td><%= link_to 'Edit', edit_survival_path(survival) %></td>
      </tr>
      <% else %>
      <tr>
        <td><%= survival.name %></td>
        <td><%= survival.situation %></td>
        <td><%= link_to 'Show', survival %></td>
        <td><%= link_to 'Edit', edit_survival_path(survival) %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>


</div>
