<div class="container">
<div class="jumbotron">

<p id="notice"><%= notice %></p>
<div class="col-md-6">

<% x = Time.current.year - @survival.year_birthday %>

<h3><strong><%= @survival.name %>, age <%= x %></strong></h3>
<% if @survival.gender = "m" %>
  <p>
    <label>Gender:</label>
    Male
  </p>
<% else %>
  <p>
    <label>Gender:</label>
    Female
  </p>
<% end %>
<p>
  <label>Situation:</label>
  <%= @survival.situation %>
</p>
<p>
  <label>Latitude:</label>
  <%= @survival.latitude %>
</p>

<p>
  <label>Longitude:</label>
  <%= @survival.longitude %>
</p>

<p>
  <label>Water:</label>
  <%= @survival.resource1 %>
</p>

<p>
  <label>Food:</label>
  <%= @survival.resource2 %>
</p>

<p>
  <label>Medication:</label>
  <%= @survival.resource3 %>
</p>

<p>
  <label>Ammunation:</label>
  <%= @survival.resource4 %>
</p>

<%= link_to 'Edit', edit_survival_path(@survival) %> |
<%= link_to 'Back', survivals_path %>

</div>
</div>
