<div class="container">
  <div class="row jumbotron">
    <div class="row">
      <h2>Informations about our Community</h2>
      <div class="col-lg-6">
        <fieldset>
          <legend>People Alive</legend>
          <%= @non_infected %> of <%= @survival_total %>
        </fieldset>
      </div>
      <div class="col-lg-6">
        <fieldset>
          <legend>People infected</legend>
          <%= @infected %> of <%= @survival_total %>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="row jumbotron d-block">
    <h2>Average of survivor's gear</h2>
    <div class="col-lg-6">
      <legend>Water</legend>
        <%= @water %>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <fieldset>
        <legend>Food</legend>
        <%= @food %>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <fieldset>
        <legend>Medication</legend>
        <%= @medication %>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <fieldset>
        <legend>Ammunation</legend>
        <%= @ammunation %>
      </fieldset>
    </div>
  </div>
  </div>
