<%= form_with(model: resource, local: true) do |form| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :resource_description %>
  </div>

  <div class="field">
    <%= form.label :points %>
    <%= form.number_field :points, id: :resource_points %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
