<!DOCTYPE html>
<html>
<head>
  <title>Zombie Survival</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= image_tag "hand.png", size: "30x30", style: "padding-right: 5px"%>
  <a class="navbar-brand" href="#">Zombie Survival</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to "Survivals", survivals_path, class: "nav-link" %>
      <%= link_to "Trade", "#", class: "nav-link", disable: true %>
      <%= link_to "Apocalypse Info", apocalypse_path, class: "nav-link" %>
    </div>
  </div>
  <div class="form-inlinm-2 my-lg-0y e">
    <%= form_tag(survivals_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search survivals" %>
    <%= submit_tag "Search" %>
    <% end %>
  </div>
</nav>
<div class="container">
  <%= image_tag "header2.png", class: "img-fluid" %>
</div>
<%= yield %>
</body>
</html>
